


.receivedMessage
{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    
    color:black;
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
    max-width: 50%;
    margin-top: 4%;
    margin-left: 3%;
}



.receivedMessageText
{
    display: inline-flex;
    background-color: lightgray;
    color: black;
    min-height: 30px;
    min-width: 15px; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-start;
    word-break: break-all;
    max-width: 100%;
}


.sentMessage
{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-around;
    background-color: #0093d5;
    color: white;
    padding: 5px;
    border-radius: 10px;
    max-width: 50%;
    margin-top: 3%;
    margin-right: 3%;

}



.sentMessageText
{
    color:white;
    display:inline;
    flex-direction: row;
    min-height:40px;
    flex-wrap: wrap;
    margin-right: 0;
    align-items: start;
    width:auto;
    border-radius: 10px;
}

#sender
{
    color:black;
    margin-bottom: 3%;
}
